/************************************************************************************************************
*  COPYRIGHT BY ZIGGY RAFIQ (ZAHEER RAFIQ)
*  LinkedIn Profile URL Address: https://www.linkedin.com/in/ziggyrafiq/ 
*
*  Website  :  	Ziggy Rafiq GitHub Website Project
*  Date     :  	23/09/2022
*  Author   :  	Ziggy Rafiq (https://www.ziggyrafiq.com)
*  Notes    :  	
*  Reminder :	PLEASE DO NOT CHANGE OR REMOVE AUTHOR NAME.
*
************************************************************************************************************/ 

#imgZiggyRafiq{
    width:300px;
    height: 300px;
 border-radius: 50%;
 
    @include  medium-down
    {
        text-align: center;
        width:200px;
        height: 200px;
    }
} 



